@using Glass.Mapper.Sc
@using Glass.Mapper.Sc.Web.Mvc
@model Piccolo.Feature.Gallery.Models.GalleryListViewModel
@{
    Layout = null;
}

<div class="span12">
    <h5 class="title-bg">
        @Model.Title
        
        <a href='@Model.CallToAction.Url' class="btn btn-mini btn-inverse hidden-phone">@Html.Glass().Editable(Model,k=>k.CallToAction.Text)</a>
    </h5>

    <!-- Gallery Thumbnails
    ================================================== -->
    <div class="row clearfix no-margin">
        <ul class="gallery-post-grid holder">
            @foreach (var imageArticle in Model.ImageArticles)
            {
              <li class="span3 gallery-item" data-id="id-1" data-type="illustration">
                <span class="gallery-hover-4col hidden-phone hidden-tablet">
                    <span class="gallery-icons">
                        <a href='@imageArticle.Image.Src' class="item-zoom-link lightbox" title='&nbsp;@Html.Glass().Editable(imageArticle,k=>k.Title)' data-rel="prettyPhoto"></a>
                        <a href='@imageArticle.Url' class="item-details-link"></a>
                    </span>
                </span>
                <a href='@imageArticle.Url'>@Html.Glass().RenderImage(imageArticle,k=>k.ThumbnailImage)</a>
                <span class="project-details"><a href='@imageArticle.Url'>@Html.Glass().Editable(imageArticle, k => k.Title)</a>@Html.Glass().Editable(imageArticle, k => k.SubTitle.Substring(0, k.SubTitle.IndexOf('.')))</span>
            </li>  
            }
            
           
           
        </ul>
    </div>
</div>
